header {
  border-bottom: 4px solid darkgreen;
  background-color: rosybrown;
  top: 50px;
}

header ul li {
  border: 2px solid green;
  padding: 5px;
  display: inline;
  margin: 0 38% 0 0;
}

header ul #logo {
  border: none;
  width: 100px;
  height: 100px;
}

header img {
  margin-top: 10px;
  width: 75px;
  height: 75px;
}

/* Header Menu */
.user-menu {
  height: 50px;
  width: 50px;
  display: inline-block;
  position: relative;
}

.user-menu button {
  height: 50px;
  width: 50px;
  background-color: sandybrown;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

#menu-content {
  display: none;
}

/* GALLERY */

#gallery-container .foodItem {
  display: inline-block;
  height: 300px;
  width: 30%;
  border: 1px solid black;
  position: relative;
  z-index: 0;
}

/* need this to inherit the height and weidth of the parent li */
.foodItem > img {
  display: block;
  height: 300px;
  z-index: 0;

}

/* ITEM DISPLAY */

.item-overlay {
  position: fixed;
  top: 20%;
  left: 15%;

  z-index: 20;
  display: block;
  height: 500px;
  width: 700px;
  background-color: #F1F1D4;
}