header {
  border-bottom: 4px solid darkgreen;
  background-color: rosybrown;
  top: 50px;
}

header ul li {
  border: 2px solid green;
  padding: 5px;
  display: inline;
  margin: 0 38% 0 0;
}

header ul #logo {
  border: none;
  width: 100px;
  height: 100px;
}

header img {
  margin-top: 10px;
  width: 75px;
  height: 75px;
}

/* Header Menu */
.user-menu {
  height: 50px;
  width: 50px;
  display: inline-block;
  position: relative;
}

.user-menu button {
  height: 50px;
  width: 50px;
  background-color: sandybrown;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

#menu-content {
  display: none;
}

/* GALLERY */

#gallery-container li {
  display: inline-block;
  height: 300px;
  width: 30%;
  border: 1px solid black;
}

/* need this to inherit the height and weidth of the parent li */
#gallery-container li > img {
  display: block;
  height: 300px;

}